$slick-font-path: "../fonts/";
$slick-arrow-color: $brand-primary;
$slick-dot-color: #c92c24;
$slick-dot-color-active: $brand-primary;

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
