.button {
  color: white;
  background: $brand-primary;
  display: inline-block;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto;
}
