#global--menu-button {
  // margin-left: auto;
  margin-right: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include mediaQuery-up(sm) {
    padding: 2.5vh;
  }

  @include mediaQuery-down(md) {
    .hamburger.is-active {
      padding-top: 1.5rem;
    }
  }
}

.menu--item {
  margin-bottom: 1.5rem;

  @include mediaQuery-up(sm) {
    margin-bottom: 5vh;
  }

  .arial-black {
    font-size: 1.75rem;

    @include mediaQuery-up(sm) {
      font-size: 2.25rem;
    }
  }
}

.menu-hover {
  @include hover-underline("slide", "left-in-right", 4px, #e2dc60);

  font-family: "Marker Felt", sans-serif;
  font-size: 160%;
  padding-left: 1rem;
  opacity: 0.9;

  @include mediaQuery-up(sm) {
    font-size: 170%;
  }
}
