#global--menu-button {
  margin-right: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include mediaQuery-up(sm) {
    padding: 2.5vh;
  }
}

.menu--item {
  margin-bottom: 1.5rem;

  @include mediaQuery-up(sm) {
    margin-bottom: 5vh;
  }

  .arial-black {
    font-size: 1.75rem;

    @include mediaQuery-up(md) {
      font-size: 2.25rem;
    }
  }

  &.logo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 5vh;

    @include mediaQuery-up(sm) {
      padding-left: 7vw;
      padding-right: 7vw;
    }
  }

  &.sns {
    padding-top: 1.5vh;
    margin-bottom: 7vh;
  }
}

.menu-hover {
  @include hover-underline("slide", "left-in-right", 4px, #e2dc60);

  font-family: "Marker Felt", sans-serif;
  font-size: 160%;
  padding-left: 1rem;
  opacity: 0.9;

  @include mediaQuery-up(sm) {
    font-size: 170%;
  }
}
