#global--menu-button {
  margin-left: auto;
  margin-right: 0;
}

.menu-hover {
  @include hover-underline("slide", "left-in-right", 4px, $yellow);

  font-family: "Marker Felt", sans-serif;
  font-size: 200%;
}
