footer {
  background: $brand-primary;

  .footer--logo {
    margin: 0 auto;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    max-width: 15rem;

    @include mediaQuery-up(sm) {
      padding-bottom: 1rem;
      padding-top: 3rem;
      max-width: 20rem;
    }
  }

  .container {
    margin: 0 auto;
    text-align: center;
  }

  .menu-footer-container {
    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding-left: 0;
      padding-top: 1rem;
      padding-bottom: 2rem;
      margin: 0;
      justify-content: space-around;

      .menu-item {
        display: block;
        flex-basis: 10%;
        text-align: center;

        a {
          color: white;
          opacity: 0.7;
          font-family: "Montserrat", sans-serif;
          text-decoration: none;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.home footer {
  background: rgba(243, 86, 78, 0.7);
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
}
