// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.banner {
  background-color: $brand-primary;

  .bg-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 50vh;
    min-height: 620px;
    top: 3rem;

    @include mediaQuery-up(sm) {
      top: -3rem;
    }
  }

  .relative {
    width: 70%;

    @include mediaQuery-up(sm) {
      margin-right: auto;
      margin-left: auto;
    }

    @include mediaQuery-up(lg) {
      width: 50%;
    }
  }

  &.menu-open {
    background: none $brand-primary;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;

    .relative {
      margin-right: auto;
      margin-left: auto;
    }

    #global--menu-button {
      width: 100%;
      padding-bottom: 0;

      @include mediaQuery-down(lg) {
        padding-top: 1.5rem;
      }
    }
  }

  .header--image-wrap {
    height: 100%;
    width: 100%;

    img {
      width: 95%;

      @include mediaQuery-up(sm) {
        width: 100%;
      }
    }
  }

  .header--menu {
    padding-left: 2rem;
    padding-right: 2rem;

    @include mediaQuery-up(sm) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 4.5rem;
    }

    div {
      margin-bottom: 0.9rem;
    }
  }
}
