// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.banner {
  background-image: image("main_v.jpg");
  background-position: center bottom;
  background-size: cover;
  height: 100vh;

  @include mediaQuery-up(sm) {
    height: auto;
  }

  .bg-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 50vh;
    min-height: 620px;
    top: 3rem;

    @include mediaQuery-up(sm) {
      top: -3rem;
    }
  }

  &.menu-open {
    background: none $brand-primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .header--content {
    min-height: 550px;
    height: 41vh;
  }

  .header--image-space {
    height: 19vh;

    @include mediaQuery-up(sm) {
      height: 12.5vh;
    }
  }

  .header--image-wrap {
    height: 35vh;

    @include mediaQuery-up(sm) {
      height: auto;
      padding-left: 10rem;
      width: 68%;
    }

    img {
      width: 95%;

      @include mediaQuery-up(sm) {
        width: 100%;
      }
    }
  }

  .header--menu {
    padding-left: 2rem;
    padding-right: 2rem;

    @include mediaQuery-up(sm) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 4.5rem;
    }

    div {
      margin-bottom: 0.9rem;
    }
  }
}
