// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.banner {
  background-color: $brand-primary;

  .bg-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 50vh;
    min-height: 620px;
    top: 3rem;

    @include mediaQuery-up(sm) {
      top: -3rem;
    }
  }

  &.menu-open {
    background: none $brand-primary;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;

    @include mediaQuery-down(lg) {
      flex-wrap: nowrap;
    }

    #global--menu-button {
      width: 100%;
      padding-top: 0;

      @include mediaQuery-up(lg) {
        padding: 2.5vh;
        padding-top: 2.5rem;
      }
    }
  }

  .header--image-wrap {
    height: 100%;
    width: 100%;

    img {
      width: 95%;

      @include mediaQuery-up(sm) {
        width: 100%;
      }
    }
  }

  .header--menu {
    padding-left: 2rem;
    padding-right: 2rem;

    @include mediaQuery-up(sm) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 4.5rem;
    }

    div {
      margin-bottom: 0.9rem;
    }
  }
}
