// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.banner {
  background: $brand-primary;

  .bg-container {
    background: image("banner_bg.png") no-repeat $brand-primary;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 50vh;
  }

  &.menu-open {
    background: none $brand-primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}
