.wrap--news {
  background-image: image("bg_1.jpg");
  background-position: bottom left;
  // height: 50vh; //ä»®
}

.wrap--live {
  background-image: image("bg_2.jpg");
  background-position: top left;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin: 0 auto;

  @include mediaQuery-up(md) {
    max-width: 80rem;
  }
}

.container .mw8,
.page-header {
  margin-left: auto;
  margin-right: auto;
}
