.wrap--news {
  background-image: image("bg_1.jpg");
  background-position: bottom left;
  // height: 50vh; //ä»®
}

.wrap--live {
  background-image: image("bg_2.jpg");
  background-position: top left;
  background-size: cover;

  header,
  h3 a {
    color: $brand-primary;
  }

  .entry-title {
    margin-top: 2rem;
  }

  .thumbnail {
    padding-left: 4rem;
    padding-right: 4rem;

    img {
      display: block;
    }
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;

  @include mediaQuery-up(md) {
    max-width: 80rem;
  }
}

.container .mw8,
.page-header {
  margin-left: auto;
  margin-right: auto;
}
