
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;

  @include mediaQuery-up(sm) {
    max-width: 80rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-contents,
  .page-header {
    margin-left: auto;
    margin-right: auto;
  }

  .section-contents {
    max-width: 64rem;

    @include mediaQuery-up(sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .more-container {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include mediaQuery-up(sm) {
      margin-top: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

.home {
  .banner--home {
    background-image: image("main_v.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    @include mediaQuery-up(lg) {
      background-position: center top;
      background-size: contain;
      transition: all 0.1s ease 0s;
      height: 45vw;
    }

    @include mediaQuery-down(md) {
      background-image: image("main_v-m.jpg");
      background-attachment: initial;
      align-content: flex-start;
    }

    &.menu-open {
      background: none $brand-primary;
      flex-direction: column;
      justify-content: flex-start;

      @include mediaQuery-up(md) {
        align-items: flex-start;
        height: 100vh;
      }
    }

    .header--content {
      min-height: 550px;
      height: 50vh;
    }
  }

  #global--menu-button {
    @include mediaQuery-down(md) {
      padding-top: 1.5rem;

      .hamburger.is-active {
        padding-top: 0;
      }
    }
  }

  .sns--main-top {
    display: block;
    padding: 2.5vh;

    @include mediaQuery-up(lg) {
      padding: 0;
    }

    &.dn {
      display: none;
    }
  }

  .relative {
    min-height: 85vh;
  }

  h2 {
    color: $brand-primary;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    max-width: 64rem;
    letter-spacing: 0.25em;
    margin: auto;

    &::after {
      content: "";
      height: 15px;
      display: block;
      background: asset("images", "h2_border-m.svg") no-repeat;
      background-size: contain;

      @include mediaQuery-up(lg) {
        background: asset("images", "h2_border.svg") no-repeat;
        background-size: contain;
        height: 20px;
      }
    }

    span {
      display: block;
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
      font-size: 1.02rem;
      letter-spacing: normal;
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }
}

.wrap--news {
  background-image: image("bg_1.jpg");
  background-position: bottom left;
  // height: 50vh; //ä»®

  .section-contents {
    @include mediaQuery-up(sm) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.wrap--live {
  background-image: image("bg_2.jpg");
  background-position: top left;
  background-size: cover;

  header,
  h3 a {
    color: $brand-primary;
  }

  article {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @include mediaQuery-up(sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .entry-title {
    margin-top: 1rem;
    margin-bottom: 0;

    @include mediaQuery-up(sm) {
      margin-top: 2rem;
    }
  }

  .thumbnail {
    @include mediaQuery-up(sm) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    img {
      display: block;
    }
  }

  p.b {
    margin-top: 0.25rem;

    @include mediaQuery-up(sm) {
      margin-top: 1rem;
    }
  }

  .entry-excerpt {
    font-size: 0.875em;
  }
}

.wrap--biography {
  background-image: image("bg_3.jpg");

  p {
    font-size: 0.875rem;
  }

  article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .entry-header {
    width: 100%;

    @include mediaQuery-up(sm) {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 50%;
    }
  }

  .entry-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;

    @include mediaQuery-up(sm) {
      padding-left: 2rem;
      width: 50%;
    }
  }
}

.wrap--discography {
  background-image: image("bg_4.jpg");

  h3 {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  article {
    width: 50%;

    @include mediaQuery-up(sm) {
      width: 25%;
    }
  }

  .entry-title {
    color: $brand-primary;
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
  }

  .entry-content ol {
    padding-left: 2em;
  }

  .entry-content ul {
    list-style: none;
    padding-left: 0;
  }

  .badge--applemusic {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 150px;
  }
}

.wrap--movie {
  background-image: image("bg_5.jpg");

  .entry-title {
    color: $brand-primary;
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }
}

