
.container {
  max-width: 100%;
  margin: 0 auto;

  @include mediaQuery-up(md) {
    max-width: 80rem;
  }

  .section-contents,
  .page-header {
    margin-left: auto;
    margin-right: auto;
  }

  .section-contents {
    max-width: 64rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.wrap--news {
  background-image: image("bg_1.jpg");
  background-position: bottom left;
  // height: 50vh; //ä»®

  .section-contents {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.wrap--live {
  background-image: image("bg_2.jpg");
  background-position: top left;
  background-size: cover;

  header,
  h3 a {
    color: $brand-primary;
  }

  .entry-title {
    margin-top: 2rem;
  }

  .thumbnail {
    padding-left: 4rem;
    padding-right: 4rem;

    img {
      display: block;
    }
  }

  .entry-excerpt {
    font-size: 0.875em;
  }
}

.wrap--biography {
  background-image: image("bg_3.jpg");

  p {
    font-size: 0.875rem;
  }
}

.wrap--discography {
  background-image: image("bg_4.jpg");

  h3 {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .entry-title {
    color: $brand-primary;
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
  }

  .entry-content ol {
    padding-left: 2em;
  }

  .entry-content ul {
    list-style: none;
    padding-left: 0;
  }

  .badge--applemusic {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 150px;
  }
}

.wrap--movie {
  background-image: image("bg_5.jpg");

  .entry-title {
    color: $brand-primary;
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: left;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }
}

