.wrap {
  background-size: cover;
}

.wrap--news {
  background-image: image("bg_1.jpg");
  background-position: bottom left;
  // height: 50vh; //ä»®
}

.container {
  background: rgba($color: #fff, $alpha: 0.64);
}

h2 span {
  display: block;
  font-size: 1rem;
}

.button {
  color: white;
  background: $brand-primary;
  display: inline-block;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto;
}
