.wrap {
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mediaQuery-up(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container {
  background: rgba($color: #fff, $alpha: 0.64);
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;

  h2 {
    color: $brand-primary;
    font-family: "Arial Black", sans-serif;
    text-align: center;
    max-width: 64rem;
    letter-spacing: 0.25em;
    margin: auto;

    &::after {
      content: "";
      height: 15px;
      display: block;
      background: asset("images", "h2_border-m.svg") no-repeat;
      background-size: contain;

      @include mediaQuery-up(lg) {
        background: asset("images", "h2_border.svg") no-repeat;
        background-size: contain;
        height: 20px;
      }
    }

    span {
      display: block;
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
      font-size: 1.02rem;
      letter-spacing: normal;
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }
}
