.wrap {
  background-size: cover;
}

.container {
  background: rgba($color: #fff, $alpha: 0.64);

  h2 {
    color: $brand-primary;
    font-family: "Arial Black", sans-serif;
    text-align: center;
    max-width: 64rem;
    letter-spacing: 0.25em;
    margin: auto;

    &::after {
      content: "";
      height: 20px;
      display: block;
      background: asset("images", "h2_border.svg") no-repeat;
      background-size: contain;

      @include mediaQuery-up(lg) {
        background-size: contain;
      }
    }

    span {
      display: block;
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
      font-size: 1.02rem;
      letter-spacing: normal;
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }
}
