.wrap {
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mediaQuery-up(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container {
  background: rgba($color: #fff, $alpha: 0.64);
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
}
