@font-face {
  font-family: "Marker Felt";
  font-style: normal;
  font-weight: 400;
  src: font("marker_felt_thin.woff") format("woff"), font("marker_felt_thin.ttf") format("truetype");
}

.arial-black {
  font-family: "Arial Black", sans-serif;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
