@font-face {
  font-family: "Marker Felt";
  font-style: normal;
  font-weight: 400;
  src: font("marker_felt_thin.woff") format("woff"), font("marker_felt_thin.ttf") format("truetype");
}

.arial-black {
  font-family: "Arial Black", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
