@font-face {
  font-family: "Marker Felt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/marker_felt_thin.woff") format("woff"), url("../fonts/marker_felt_thin.ttf") format("truetype");
}
