@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
  @if $dir == null {
    @if $type == "fade" {
      $dir: "top";
    }

    @else if $type == "slide" {
      $dir: "center";
    }
  }

  position: relative;

  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: $weight;
    background: $color;

    @if $type == "fade" {
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;

      @if $dir == "bottom" {
        bottom: $weight * -4;
      }

      @else {
        bottom: $weight;
      }
    }

    @if $type == "slide" {
      bottom: $weight * -2;
      transform: scale(0, 1);
      transition: transform 0.3s;

      @if $dir == "left-right" or $dir == "right-in-left" {
        transform-origin: left top;
      }

      @if $dir == "right-left" or $dir == "left-in-right" {
        transform-origin: right top;
      }

      @else {
        transform-origin: center top;
      }
    }
  }

  &:hover::after {
    @if $type == "fade" {
      bottom: $weight * -2;
      opacity: 1;
      visibility: visible;
    }

    @if $type == "slide" {
      @if $dir == "left-in-right" {
        transform-origin: left top;
      }

      @if $dir == "right-in-left" {
        transform-origin: right top;
      }

      transform: scale(1, 1);
    }
  }
}
