$bp-smartphone-portrait: 520px;
$bp-tablet-portrait: 768px;
$bp-laptop_s: 1000px;
$bp-tablet-landscape: 1024px;
$bp-laptop_m: 1366px;
$bp-laptop_l: 1920px;
$breakpoints:(
  xs: $bp-smartphone-portrait,
  sm: $bp-tablet-portrait,
  md: $bp-tablet-landscape,
  lg: $bp-laptop_m,
  xl: $bp-laptop_l
) !default;

@mixin mediaQuery-up($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin mediaQuery-down($breakpoint) {
  @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
  @if $dir == null {
    @if $type == "fade" {
      $dir: "top";
    }

    @else if $type == "slide" {
      $dir: "center";
    }
  }

  position: relative;

  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: $weight;
    background: $color;

    @if $type == "fade" {
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;

      @if $dir == "bottom" {
        bottom: $weight * -4;
      }

      @else {
        bottom: $weight;
      }
    }

    @if $type == "slide" {
      bottom: $weight;
      transform: scale(0, 1);
      transition: transform 0.3s;

      @if $dir == "left-right" or $dir == "right-in-left" {
        transform-origin: left top;
      }

      @if $dir == "right-left" or $dir == "left-in-right" {
        transform-origin: right top;
      }

      @else {
        transform-origin: center top;
      }
    }
  }

  &:hover::after {
    @if $type == "fade" {
      bottom: $weight * -2;
      opacity: 1;
      visibility: visible;
    }

    @if $type == "slide" {
      @if $dir == "left-in-right" {
        transform-origin: left top;
      }

      @if $dir == "right-in-left" {
        transform-origin: right top;
      }

      transform: scale(1, 1);
      opacity: 0.8;
    }
  }
}
